.list {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;
  padding: 1rem;
  text-align: center;
  width: 90%;
  color: rgb(255, 255, 255);
  border: 1px solid #ffffff14;
  background-color: color-mix(in oklab, #fff 5%, transparent);
  border-color: color-mix(in oklab, #fff 10%, transparent);
  border-radius: 3rem;
  transition: background 0.2s;
  font-size: 1.5rem;
  backdrop-filter: blur(42px);
  -webkit-backdrop-filter: blur(42px);
}

.item {
  padding: 1rem;
  text-align: center;
  color: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3rem;
  transition: background 0.2s;
}

.item:not(:hover):not(.selected) {
  background: rgba(255, 255, 255, 0);
}

.item:hover,
.item.selected {
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
