.items {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1rem;
}

.item {
  background-color: var(--bg-color-light);
  border-radius: 3rem;
  padding: 0.8rem;
  font-size: 1.2rem;
  font-weight: normal;
  border: 1px solid var(--border-color);
}
