.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.wrapper_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 5rem;
}

.title {
  font-size: 3rem;
}
.subtitle {
  color: rgba(255, 255, 255, 0.609);
}

.btn_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  width: 80%;
  white-space: nowrap;
  padding: 1rem;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.btn_container::-webkit-scrollbar {
  display: none;
}

.category_list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  padding: 1rem;
}

.category_title {
  padding: 1rem 0;
  text-transform: capitalize;
  font-size: clamp(1.8rem, 2vw, 2.5rem);
}

.project_list_container {
  display: flex;
  gap: 2rem;
}

.project_card_container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding: 1rem;
}

@media screen and (min-width: 800px) {
  .btn_container {
    justify-content: center;
  }
}
