.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profil_picture {
  max-width: 100%;
  height: auto;
  width: 150px;
  display: block;
  border-radius: 100%;
  margin-top: 2rem;
}

.name {
  margin: 1rem 0;
  font-size: 3rem;
}

.job {
  color: rgba(255, 255, 255, 0.6);
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 1rem;
}

.title {
  font-size: clamp(1.8rem, 2vw, 2rem);
  color: white;
  font-weight: 600;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: clamp(1.8rem, 2vw, 2rem);
  color: white;
  font-weight: 600;
}

.look_job_container {
  border: 1px solid #ffffff14;
  border-color: color-mix(in oklab, #fff 10%, transparent);
  border-radius: 1.2rem;
  padding: 1rem 2rem;
  background-color: color-mix(in oklab, #fff 5%, transparent);
  margin: 1rem;
}

.look_job_title {
  font-size: 2rem;
  font-weight: normal;
  animation: 1s linear 0s infinite alternate light_job;
  padding: 0;
}

@keyframes light_job {
  from {
    color: #03ff89;
  }
  to {
    color: #00000006;
  }
}

.wrapper_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  margin: 1rem;
}

.card {
  border: 1px solid #ffffff14;
  border-color: color-mix(in oklab, #fff 10%, transparent);
  border-radius: 2rem;
  padding: 2rem;
  background-color: color-mix(in oklab, #fff 5%, transparent);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.7);
  font-weight: normal;
  font-size: 1.5rem;
}

.stacks_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 90%;
  gap: 1rem;
  margin: 2rem 0;
}

.stacks {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.stacks_item {
  background-color: color-mix(in oklab, #fff 5%, transparent);
  border-radius: 3rem;
  padding: 0.8rem;
  font-size: 1.2rem;
  font-weight: normal;
  border: 1px solid #ffffff14;
  border-color: color-mix(in oklab, #fff 10%, transparent);
}
