.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profil_picture {
  max-width: 100%;
  height: auto;
  width: 150px;
  display: block;
  border-radius: 100%;
  margin-top: 2rem;
}

.name {
  margin: 1rem 0;
}

.job {
  color: rgba(255, 255, 255, 0.6);
}

.title {
  font-size: clamp(1.8rem, 2vw, 2rem);
  color: white;
  font-weight: 400;
}

.look_job_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem auto;
  border: 1px solid #ffffff14;
  border-color: color-mix(in oklab, #fff 10%, transparent);
  border-radius: 1rem;
  padding: 1rem;
}

.circle {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  animation: 1s linear 0s infinite alternate light_job;
}

@keyframes light_job {
  from {
    background: #07ec29;
  }
  to {
    background: #0358108c;
  }
}

.look_job_title {
  font-size: 1.5rem;
  padding-bottom: 0.3rem;
  color: #ffffffc8;
}

.wrapper_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  margin: 1rem;
}

.card {
  border: 1px solid #ffffff14;
  border-color: color-mix(in oklab, #fff 10%, transparent);
  border-radius: 1rem;
  padding: 2rem;
  margin-bottom: 15rem;
  background-color: color-mix(in oklab, #fff 5%, transparent);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.7);
  font-weight: normal;
  font-size: 1.5rem;
}

.stacks {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.stacks_item {
  margin-top: 1rem;
  background-color: color-mix(in oklab, #fff 5%, transparent);
  border-radius: 3rem;
  padding: 0.8rem;
  font-size: 1.2rem;
  font-weight: normal;
  color: rgba(255, 255, 255, 255);
  border: 1px solid #ffffff14;
  border-color: color-mix(in oklab, #fff 10%, transparent);
}
